<html>
<head>
<title>Score Maker</title>
<script src="https://cdn.tailwindcss.com?plugins=typography"></script>
</head>
<body class="p-4">
    <nav class="flex flex-row justify-between border-b-2 border-gray-200">
    <a href="/" class="text-3xl font-bold"><h1>Score Maker</h1></a>
    <div class="text-sm font-medium text-center text-gray-500 dark:text-gray-400">
        <ul class="flex flex-wrap -mb-0.5">
            <li class="me-2">
                <a href="/help"
                {% if page == "/help" %}
                class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500" aria-current="page"
                {% else %}
                class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                {% endif %}
                >Help</a>
            </li>
            <li class="me-2">
                <a href="/examples"
                {% if page == "/examples" %}
                class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500" aria-current="page"
                {% else %}
                class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                {% endif %}
                >Examples</a>
            </li>
            {% if debug %}
            <li class="me-2">
                <a href="/debug"
                {% if page == "/debug" %}
                class="inline-block p-4 text-red-600 border-b-2 border-red-600 rounded-t-lg active dark:text-red-500 dark:border-red-500" aria-current="page"
                {% else %}
                class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                {% endif %}
                >DEBUG</a>
            </li>
            {% endif %}
            <!--<li>
                <a class="inline-block p-4 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500">Configuration (à venir)</a>
            </li>-->
        </ul>
    </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="text-center text-sm text-gray-500 dark:text-gray-400 mt-4">
        <p>Created by <a class="border-b border-gray-200 hover:border-gray-400" href="https://github.com/groscot">Raphaël Groscot</a></p>
    </footer>
</body>
</html>