{% extends "all_pages.html" %}

{% block content %}
<style>
blockquote > p::before {
    content: normal!important;
}
blockquote > p::after {
    content: normal!important;
}
code::before {
    content: normal!important;
}
code::after {
    content: normal!important;
}
code {
    display: inline-block;
    background-color: #e5e7eb;
    border-radius: 0.25rem;
    padding: 0.1em 0.25em;
}

.fragment span:nth-child(1) {
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.25em 0.5em;
}

div:has(.fragment) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
}

.fragment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fragment span:nth-child(2) {
    font-size: 0.5em;
}
</style>
<article class="prose sm:prose lg:prose-lg mt-4 mx-auto">
    <div class="my-2 p-2 bg-blue-100 text-blue-800">
        <b>Information</b> : la page Exemples met en avant des exemples de commandes à essayer. Vous pourrez les importer dans l'éditeur en un clic pour les tester.
    </div>
    <div class="my-2 p-2 bg-red-100 text-red-800">
        <b>Attention</b> : une erreur dans le code peut mener à une partition qui s'arrête de façon abrupte.
    </div>
    {{ doc_content }}
</article>
{% endblock %}