{% extends "all_pages.html" %}

{% block content %}
<article class="prose lg:prose-xl mt-4">
    {% if page == "/examples" %}
    <h2>Exemples</h2>
    {% else %}
    <h2>DEBUG</h2>
    {% endif %}
</article>
<div class="lg:grid grid-cols-2 mt-4 gap-4">
    {% for example in examples %}
    <div class="relative">
        <pre class="bg-gray-100 text-gray-800 p-2 mb-8 w-full" style="font-size: 80%;">{{ example.value }}</pre>
        {% if example.name %}
        <a class="underline inline-block absolute right-0 bottom-0" href="/?load={{ example.name }}">Ouvrir dans l'éditeur</a>
        {% endif %}
    </div>
    <div class="border p-4 shadow">
        <img class="preview" src="data:image/png;base64, {{ example.base64_img }}" alt="" class="max-w-full">
    </div>
    {% endfor %}
</div>
{% endblock %}